section {
  display: grid;
  color: #f9e4ad;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section canvas {
  margin: 2rem auto;
  width: 300px;
}

section div {
  display: flex;
  align-items: center;
}

section div.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* TODO: Remove margin */
  margin: 4rem auto;
}
