section {
  display: grid;
  color: #ffd52c;
  padding: 2rem 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

section canvas {
  margin: 2rem auto;
  width: 300px;
}

section div {
  display: flex;
  align-items: center;
}
