---
import Config from "@config";
import Terminal from "@components/Terminal";
import Layout from "@layouts/Layout.astro";

const space: ITerminalLine = {
  content: "",
  type: "text",
};
---

<Layout title="TBA">
  <main>
    <Terminal
      client:load
      lines={[
        {
          content: "dev@QuantiFi ~> ./start.sh",
          type: "text",
          color: {
            blue: ["dev"],
            yellow: ["QuantiFi"],
          },
        },
        space,
        space,
        {
          content: `Project.start('${Config.title}');`,
          type: "text",
          color: {
            blue: ["start"],
            yellow: ["QuantiFi"],
          },
        },
        { content: "/logo.png", type: "image" },
        {
          content: "Dev.status()",
          type: "text",
          color: {
            blue: ["status"],
          },
        },
        {
          content: "[1] In progress",
          type: "text",
          symbol: ".",
          color: { blue: ["1"] },
        },
        space,
        space,
        {
          content: "Launch.date()",
          type: "text",
          color: {
            blue: ["date"],
          },
        },
        {
          content: "[1] TBA",
          type: "text",
          symbol: "/",
          color: { blue: ["1"] },
        },
        {
          content: "JOIN US -",
          type: "link",
          href: "https://x.com/quantifi_xyz",
          center: true,
        },
      ]}
      symbol=">>"
    />
  </main>
</Layout>
