---
import Terminal from "@components/Terminal";
import Layout from "@layouts/Layout.astro";
---

<Layout title="TBA">
  <main>
    <Terminal
      client:load
      lines={[
        {
          content: "Project.start('QuantiFi');",
        },
        {
          content: "Dev status: In progress",
          symbol: ".",
        },
        {
          content: "Launch date: TBA",
          symbol: "/",
        },
      ]}
      symbol=">>"
    />
  </main>
</Layout>

<style>
  main {
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
