---
import Terminal from "@components/Terminal";
import Layout from "@layouts/Layout.astro";
---

<Layout title="TBA">
  <main>
    <Terminal
      client:load
      lines={[
        {
          content: "Loading project",
          symbol: ".",
          type: "text",
        },
        {
          content: "Project.start('QuantiFi');",
          type: "text",
        },
        {
          content: "http://localhost:4321/logo.png",
          type: "image",
        },
        {
          content: "Dev status: In progress",
          type: "text",
          symbol: ".",
        },
        {
          content: "Launch date: TBA",
          type: "text",
          symbol: "/",
        },
        {
          content: "",
          type: "text",
        },
        {
          content: "Join us -",
          type: "link",
          href: "https://x.com/quantifi_xyz",
        },
      ]}
      symbol=">>"
    />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: calc(100vh - 8rem);
  }
</style>
