---
import Terminal from "@components/Terminal";
import Layout from "@layouts/Layout.astro";
---

<Layout title="TBA">
  <main>
    <Terminal
      client:load
      lines={[
        {
          content: "Loading project",
          symbol: ".",
        },
        {
          content: "Project.start('QuantiFi');",
        },
        {
          content: "http://localhost:4321/logo.png",
          image: true,
        },
        {
          content: "Dev status: In progress",
          symbol: ".",
        },
        {
          content: "Launch date: TBA",
          symbol: "/",
        },
        {
          content: "",
        },
        {
          // TODO: Add link
          content: "Join us",
        },
      ]}
      symbol=">>"
    />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: calc(100vh - 8rem);
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }
</style>
