---
import Layout from "@layouts/layout.astro";
import Terminal from "@components/terminal.astro";
import Config from "@config";

const contents: TerminalContent[] = [
  { text: `>> Project.start('${Config.title}');` },
  { text: ">> Dev status: In progress", symbol: "." },
  { text: ">> Launch date: TBA", symbol: "/" },
];
---

<Layout title="TBA">
  <main>
    <section>
      <!-- <img src="/logo.svg" alt="QuantiFi logo" /> -->
      <Terminal contents={contents} />
    </section>
  </main>
</Layout>

<style>
  main {
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    margin-bottom: 4rem;
  }
</style>
