---
import Terminal from "@components/Terminal";
import Layout from "@layouts/Layout.astro";

function formatDate(date: Date) {
  return new Date(date).toLocaleTimeString("en-US", {
    hour: "2-digit",
    minute: "2-digit",
    hour12: false,
  });
}
---

<Layout title="TBA">
  <main>
    <Terminal
      client:load
      lines={[
        {
          command: true,
          content: "dev@QuantiFi:~ ./init.sh",
          type: "text",
          color: {
            blue: ["dev"],
            yellow: ["QuantiFi"],
          },
        },
        {
          content: 'Project.init("QuantiFi")',
          type: "text",
          color: {
            blue: ["init"],
            yellow: ["QuantiFi"],
          },
        },
        { content: "/logo.png", type: "image" },
        {
          command: true,
          content: 'dev@QuantiFi:~ ./infos.sh -p="QuantiFi"',
          type: "text",
          color: {
            blue: ["dev"],
            yellow: ["QuantiFi"],
          },
        },
        {
          content: "Connecting on-chain servers",
          type: "text",
          symbol: ".",
        },
        {
          content: "Project.status()",
          type: "text",
          color: {
            blue: ["status"],
          },
        },
        {
          content: `[${formatDate(new Date())}] Initialized.`,
          type: "text",
        },
        {
          content: "Project.launch()",
          type: "text",
          color: {
            blue: ["date"],
          },
        },
        {
          content: `[${formatDate(new Date())}] TBA`,
          type: "text",
          symbol: "/",
        },
        {
          content: "JOIN US",
          type: "link",
          href: "https://x.com/quantifi_xyz",
          center: true,
        },
      ]}
      symbol=">>"
    />
  </main>
</Layout>
