---
import Config from "@config";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Config.title} - {title}</title>
  </head>
  <body>
    <header>
      <div class="date">
        <!-- TODO: Add real date of today -->
        <p>Wednesday 18 July, 2024</p>
        <p>20:31:02 UTC</p>
      </div>
      <nav>
        <a href={Config.twitter} target="_blank">JOIN US</a>
      </nav>
    </header>
    <main><slot /></main>
    <footer>
      <p>Copyright © 2024 QuantiFi</p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  html {
    color: white;
    background: black;
    width: 100%;
    height: 100vh;
    font-size: 16px;
  }

  body {
    padding: 2rem;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      /* TODO: Check if we want another animation */
      text-decoration: underline;
    }
  }

  main {
    padding: 2rem;
    height: calc(100vh - 8rem);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;

    .date {
      font-size: 0.75rem;
    }
  }

  footer {
    font-size: 0.75rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
